name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 2 * * 1'
jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        java: [8, 11]
        os: [ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: olafurpg/setup-scala@v10
      with:
        java-version: "adopt@1.${{ matrix.java }}"
    - uses: coursier/cache-action@v5
    - run: sbt
           scalafmtCheckAll
           scalafmtSbtCheck
           "+ compile"
           "+ test"
           testAll
    - shell: bash
      run: rm -rf "$HOME/.ivy2/local" || true
           rm -rf "$HOME/.m2" || true
